.main-container{
    align-items: center;
    display: flex;
    width: 98vw;
    height: 100vh;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-list{
    width: 75vw;
    height: 750px;
    margin-left: 13%;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    margin-top: 2%;   
}

.title{
    text-align: center;
        margin-bottom: 1em;
        font-size: 24px;
        font-weight: 800;
}

.img-cell{
    width: 150px;
}
.rank{
    width: 550px;
}
.imdbRating{
    width: 200px;
}
.yourRating{
    width: 200px;
}
.wishlist{
    width: 200px;
}

td{
        height: 90px;
}